config.mk

.embeddings/
*.tmp
schema.jsonld
common-words.txt
emptydataset.tt
source-data.json
schema.org.tt
schema.tt
schema.trimmed.tt
manifest.tt
constants.tsv
data.json
entities.json
parameter-datasets
parameter-datasets.tsv
shared-parameter-datasets.tsv
shared-parameter-datasets/
synthetic*.tsv
everything.tsv
datadir/
models/
