---
---

@import "{{ site.theme }}";

.wrapper {
    width: 1020px; 
}

section {
    width: 660px;
}

@media print, screen and (max-width: 1140px) {
    .wrapper {
        width: 860px;
    }

    section {
        width: 500px;
    }
}

@media print, screen and (max-width: 960px) {
    section {
        width: auto;
    }
}
